header {
    height: 100vh;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    top: 1.5rem;
}


/*-----------------BTN-------------*/

.button {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.btn12 {
    width: max-content;
    display: inline-block;
    color: white;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid magenta;
    transition: var(--transition);
    background: transparent;
    box-shadow: inset 0 0 0 0 magenta;
    transition: ease-in 0.3s;
}

.btn12:hover {
    box-shadow: inset 300px 0 0 0 purple;
    color: white;
    border: 1px solid transparent;
}

.btn13 {
    width: max-content;
    display: inline-block;
    color: white;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid magenta;
    transition: var(--transition);
    background: transparent;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-in 0.3s;
}

.btn13:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: purple;
    border: 1px solid transparent;
}


/*-----------------SOCIALS-------------*/

.Socials_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    color: white;
}

.ln:hover,
.gb:hover,
.dr:hover {
    color: purple;
    size: 1%;
    transition: .5s;
}

.Socials_header::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: purple;
}


/*-----------------ME-------------*/

.front-image {
    background: linear-gradient(black, transparent);
    width: 22rem;
    height: 30rem;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 2rem 1rem 1rem 1.5rem;
}


/*-----------------SCROLL DOWN-------------*/

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
}

.scroll_down:hover {
    color: magenta;
}

.scroll_down:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.scroll_down:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.arrow{
    color:white;
    transform:rotate(0deg);
    left:38.7rem;
    bottom:1.2rem;
    font-size:1.1rem;
    text-align: right;
    justify-content: right;
    position: relative;
}


/*-----------------MEDIA QUERIES (TABLETS)-------------*/

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}


/*-----------------MEDIA QUERIES (DEVICES)-------------*/

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .front-image {
        width: 16rem;
        left: calc(50% - 8rem);
    }
    .Socials_header {
        bottom: 10rem;
        left: 1rem;
    }
    .scroll_down {
        right: -1.2rem;
        bottom: 14rem;
    }
}

@media screen and (max-width: 280px) {
    header {
        height: 100vh;
    }
    .front-image {
        height:25rem;
        width: 13rem;
        left: calc(50% - 6.2rem);
    }
    .Socials_header {
        bottom: 6rem;
        left: 1rem;
    }
    .scroll_down {
        right: -1.5rem;
        bottom: 10rem;
    }
    .btn12{
        width:40%;
    }
    .btn13{
        width:30%;
    }
}
