.testi_container {
    width: 40%;
    overflow: hidden;
    position: relative;
}

.client_avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testi {
    background: transparent;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 2rem;
    border-radius: rem;
    user-select: none;
}

.clinet_reviw {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.para {
    margin-bottom: 2rem;
    background-image: url('../../assets/wdl.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 50vh;
}


/*-----------------MEDIA QUERIES (TABLETS)-------------*/

@media screen and (max-width: 1024px) {
    .testi_container {
        width: 60%;
    }
    .para {
        height: auto;
    }
}


/*-----------------MEDIA QUERIES (DEVICES)-------------*/

@media screen and (max-width: 600px) {
    .testi_container {
        width: var(--container-width-sm);
    }
    .client_reviw {
        width: var(--container-width-sm);
    }
    .para {
        height: auto;
    }
}